header {
    height: 100px;
    width: 100%;
    background-color: #138AA5; 
}

nav {
    height: 50px; 
    width: 100%;
    background-color:#FCBE38;
}

nav img {
    height: 40px;
    float: right;
    margin-top: -5px;
}

nav img:hover {
    opacity: 0.8;
}

.navcenter {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    word-spacing: 40px;
    padding: 10px;
    width: 1200px;
    margin: 0 auto; 
}

a {
    color: white; 
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

li {
    display: inline;
}

main {
    margin: 0 auto; 
}

section {
    width: 1200px; 
    margin: 0 auto; 
}

.container{
    width: 0 auto; 
    margin: 0 auto;
    float: left; 
}

section img {
    width: 380px;
    height: 200px;
    margin: 0 auto;
    padding-left: 9px;
    padding-top: 9px;
}

section img:hover {
    opacity: 0.7;
}

.voorstel {
    height: 295px;
    width: 827px; 
    margin-top: 20px;
    border: solid 2px black; 
}

.voorstel:hover {
    background-color: #ddd;
    box-shadow: 5px 5px 5px 0px  rgba(0,0,0,0.5);
    transition: all 0.7s; 
}

.voorstel h2 {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.interview {
    height: 290px;
    width: 400px;
    margin-top: 20px;
    margin-right: 20px;
    border: solid 2px black; 
    float: left; 
}

.interview:hover {
    background-color: #ddd;
    box-shadow: 5px 5px 5px 0px  rgba(0,0,0,0.5);
    transition: all 0.7s;
}

.fotografie {
    height: 290px;
    width: 400px;
    margin-top: 20px;
    border: solid 2px black; 
    float: right; 
}

.fotografie:hover {
    background-color: #ddd;
    box-shadow: 5px 5px 5px 0px  rgba(0,0,0,0.5);
    transition: all 0.7s;
}

.box {
    width: 342px;
    float: right; 
}

.zoeken {
    height: 42px; 
    width: 342px;
    margin-top: 20px;
    float: right; 
    background-color: #ddd;
}

.zoeken:hover{
    box-shadow: 5px 5px 5px 0px  rgba(0,0,0,0.5);
    transition: all 0.5s;
}

.zoeken img {
    width: 27px;
    height: 27px;
    margin-left: 15px;
    float: left; 
}

.zoeken img:hover {
    opacity: 0.5;
}

.zoeken input[type=text] {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 250px;
    padding: 9px;
    display: inline-block;
    border: none;
    background:  #ddd;
    }

.order {
    height: 536px;
    width: 342px;
    margin-top: 20px;
    padding-top: 15px;
    background-color: #138AA5;
    float: right; 
}

.order:hover {
box-shadow: 8px 8px 8px 0px  rgba(0,0,0,0.5);
transition: all 1s; 
}

.order h2 {
    font-size: 25px;
    color: white;
}

input[type=text] {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 280px;
    padding: 15px;
    margin: 0px 0px 0px 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    }
    
input[type=text]:focus {
      background-color: #ddd;
      outline: none;
    }
    
.registerbtn {
      background-color: #FCBE38;
      font-family: 'Roboto', sans-serif;
      color: white;
      padding: 16px 30px;
      margin: 15px 115px;
      border: none;
      cursor: pointer;
    }
    
.registerbtn:hover {
    box-shadow: 3px 3px 3px 0px  rgba(0,0,0,0.5);
    transition: all 0.5s;
    }

article {
    width: 1200px;
    margin: 0 auto
}

.video {
    margin-top: 33px;
    float: left; 
}

.videotext {
    height: 482px;
    width: 340px;
    margin-top: 33px;
    padding-top: 15px;
    border: solid 2px black; 
    float: right; 
}

.videotext:hover {
    background-color: #ddd;
    box-shadow: 5px 5px 5px 0px  rgba(0,0,0,0.5);
    transition: all 0.7s;
}

footer {
    height: 50px; 
    width: 100%;
    margin: 20px auto 0 0; 
    background-color: #138AA5; 
}

footer h2 {
    padding-top: 10px;
    color:white;
}

.clear {
    clear: both;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    color: white; 
    opacity: 0.8;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color:black;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 20px;
    padding: 20px 0px 5px 15px;
    line-height: 25px;
    text-align: left;
    color:white;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 0.2px;
    font-size: 19px;
    line-height: 25px;
    text-align: left;
    padding: 20px;
    color:black;
}